*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 /* struttura */


header{
    height: 100px;
    background-color: red;
    width: 100%;
}

.wrapper{
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
}

aside{
    width: 50px;
    background-color: orange;
    height: calc(100vh - 100px);
}

main{
    width: calc(100vw - 50px);
    height: calc(100vh - 100px);
}

.topbar{
    background-color: blue;
    height: 75px;
}

.main-center{
    background-color: yellow;
    height: calc(100vh - 175px);

}


/* classi di prova */

.height-50px{
    height: 50px;
    background-color: green;
}

@media screen and (min-width: 992px){
    
    aside{
        width: 100px;
    }

    main{
        width: calc(100vw - 100px);
    }
}




