*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 /* struttura */


header{
    height: 100px;
    width: 100vw;
}

.wrapper{
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    margin-top: 100px;
}

aside{
    width: 50px;
    background-color: orange;
    /* height: calc(100vh - 100px); */
}

main{
    width: calc(100vw - 50px);
    overflow-y: auto;
}

.topbar{
    background-color: blue;
    height: 75px;
}

.main-center{
    height: calc(100vh - 175px);

}


/* classi di prova */

.height-50px{
    height: 50px;
    background-color: green;
}


.large-button{
    text-align: left;
    width: 95%;
    background-color: #e5e5e5;
    padding: 0.5rem 0rem;
    border-radius: 0.35rem;
    border: none;
}

/* header */

.logo img:first-child{
    width: 50px;

}

@media screen and (min-width: 992px){
    
    aside{
        width: 100px;
    }

    main{
        width: calc(100vw - 100px);
    }
}




